.form__group input,
.form__group textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #323744;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form__group input::placeholder,
.form__group textarea::placeholder {
  font-size: 1rem;
  color: #fff;
}

.primary__btn{
  color:#fff;
  background-color: #323744;
  width: 80px;
  padding: 10px;
  border-radius: 10%;
  border: none;
  box-shadow:  0 0 5px 0 #01edff;
}

.text__div{
  width: 300px;
  justify-content: center;
  align-items: center;
  box-shadow:  0 0 5px 0 #01edff;
  border-radius: 20%;
  margin-top: 20px;
  padding: 20px;
}
