.tab__btns {
  background: linear-gradient(
    to right,
    rgb(50, 55, 68, 0.8),
    rgba(1, 237, 255, 0.4)
  );
  background-clip: padding-box;
  padding: 40px;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 10px; */
  width: 500px;
  /* height: 630px; */
}
.tab__btns img {
  border-radius: 5%;
}
.service__item {
  display: flex;
  align-items: center;
  transition: 0.3s;
  width: 80px;
  border-radius: 10px 0px 10px 10px;
  justify-content: center;
}

.service__item:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.service__item h6 {
  margin-top: 5px;
}

.stack__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 10px;
}
.nav__icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 44px;
  text-align: center;
  line-height: 40px;
  background: none;
  transition: transform 2s ease;
}
.nav__anc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background: none;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  color: #fff;
}
.nav__anc:hover {
  transform: translateY(-10px);
}
.git__dep {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .tab__btns {
    text-align: left !important;
    margin-top: -20px !important;
    margin-bottom: 30px;
    width: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tab__btns {
    width: 350px;
    /* height: 650px; */
  }
  .tab__btns > h5 {
    font-size: 15px;
  }
  .stack__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
