.services__container {
  display: grid;
  grid-template-rows: repeat(1,1fr) ;
  align-items: center;
  gap: 10px;
}
.services__container1 {
  display: grid;
  grid-template-columns: repeat(6,1fr) ;
  align-items: center;
  gap: 10px;
}
.services__container2 {
  display: grid;
  grid-template-columns: repeat(6,1fr) ;
  align-items: center;
  gap: 10px;
}
.service__item {
  background: rgb(50,55,68);
  padding: 30px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  transition: 0.3s;
  width: 180px;
  justify-content: center;
}

.service__item:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.service__item h5 {
  font-size: 1rem;
  margin-top: 5px;
  background-color: rgb(50,55,68);
}

.service__item {
  border-radius: 10px 0px 10px 10px;
}
.counter__section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left: 160px;
}

@media only screen and (max-width: 1008px) {
  .services__container {
    flex-direction: column;
    align-items: unset;
  }

  .service__title h3 {
    font-size: 1.3rem;
  }
  .service__item {
    padding: 20px;
  }
  .service__item span i {
    font-size: 2rem;
  }
  .service__item h5 {
    font-size: 0.9rem;
  }
  .services__container1 {
    grid-template-columns: repeat(3,1fr) ;
    gap: 20px;
    /* margin-left: 30px; */
  }
  .services__container2 {
    grid-template-columns: repeat(3,1fr) ;
    gap: 20px;
    /* margin-left: 30px; */
  }
  .counter__section{
    margin-left: 40px;
    gap: 20px;
  }
}

@media only screen and (max-width: 576px) {
  
  .services__container1 {
    grid-template-columns: repeat(2,1fr) ;
    gap: 10px;
    margin-left: 10px;
  }
  .services__container2 {
    grid-template-columns: repeat(2,1fr) ;
    gap: 10px;
    margin-left: 10px;
  }
  .counter__section{
    margin-left: 20px;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
}
